@font-face {
  font-family: 'San Francisco Pro Display Regular';
  src: url('../fonts/');
  src: url('../fonts/?#iefix') format('embedded-opentype'),
  url('../fonts/SFProDisplay-Regular.woff') format('woff'),
  url('../fonts/SFProDisplay-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  }

  @font-face {
      font-family: 'San Francisco Pro Display Medium';
      src: url('../fonts/SFProDisplay-Medium.eot');
      src: url('../fonts/SFProDisplay-Medium.eot?#iefix') format('embedded-opentype'),
      url('../fonts/SFProDisplay-Medium.woff') format('woff'),
      url('../fonts/SFProDisplay-Medium.ttf') format('truetype');
      font-weight: 500;
      font-style: normal;
      }

      @font-face {
          font-family: 'San Francisco Pro Display Bold';
          src: url('../fonts/SFProDisplay-Bold.eot');
          src: url('../fonts/SFProDisplay-Bold.eot?#iefix') format('embedded-opentype'),
          url('../fonts/SFProDisplay-Bold.woff') format('woff'),
          url('../fonts/SFProDisplay-Bold.ttf') format('truetype');
          font-weight: 700;
          font-style: normal;
          }
